div.result:has(pre) {
  padding-right: 0px !important;
}

div.result pre {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.result pre code {
  padding-left: 0px;
  background-color: transparent;
}
